<a href="/">Voltar</a>

<img src="{{produto.url}}" alt="">
<h3>{{produto.title}}</h3>
<span>Vendidos: {{produto.sold}}</span><br>
<span>Cor: {{produto.color}}</span>
<h3>Preço: {{produto.price}}</h3>

<button>Comprar</button>