<div class="card-produto">
<img src="{{this.url}}" alt="">
<h3>{{this.title}}</h3>
<span>Vendidos: {{this.sold}}</span><br>
<span>Cor: {{this.color}}</span>
<h3>Preço: {{this.price}}</h3>

<a href="/produto/{{this.id}}"><button>Ver Produto</button></a>
</div>